{% extends 'base.html'%}

{% block title %} Registration {% endblock %}

{% block page_content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 style="margin:30px 0 40px 45px; color: #2aabd2" >注册</h2>
        <form action="{% url 'users:register' %}" method="post" class="form-group">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                </div>
            </div>
            <button style="margin: 10px 0 0 55px" class="btn btn-primary" type="submit">注册</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>

{% endblock %}